@use "public/styles/mixinHelper";

.contactButtonPlayerIsOn {
  @include mixinHelper.onTablet {
    bottom: 125px !important;
  }
}

.contactButton {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 30px;
  bottom: 30px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 9;


  @include mixinHelper.onTablet {
    right: 15px;
  }

  .contactLinkButton {
    height: 30px;
    width: 30px;
    display: flex;
    margin-left: 2px;
    margin-top: 2px;

    @include mixinHelper.onTablet {
      height: 25px;
      width: 25px;
      margin-left: 3px;
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
}
