@font-face {
  font-family: "DMSans Bold";
  src: url("../fonts/Poppins-Bold.woff") format("woff");
}

@font-face {
  font-family: "DMSans Regular";
  src: url("../fonts/Poppins-Regular.woff") format("woff");
}

@font-face {
  font-family: "DMSans Thin";
  src: url("../fonts/Poppins-Thin.woff") format("woff");
}
