@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin onDesktop {
  @media screen and (max-width: 1378px) {
    @content;
  }
}

@mixin onSmallDesktop {
  @media screen and (max-width: 1160px) {
    @content;
  }
}

@mixin onTablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin onMobile {
  @media screen and (max-width: 373px) {
    @content;
  }
}

@mixin dynamicBreakpoint($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
