@use "public/styles/mixinHelper";

.mobileAppButtonContainer {
  display: none;
}
@include mixinHelper.onTablet {
  .mobileAppButtonContainer {
    display: block;
    position: relative;
    padding: 40px 20px;
    background: #edf2f7;
  }
  .mobileAppDescription {
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin-bottom: 10px;
  }
  .mobileAppButtonGooglePlay {
    width: 160px;
  }
  .mobileAppLinkApps {
    display: flex;
    align-items: center;
    column-gap: 15px;
    flex-wrap: wrap;
  }
}
